@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  margin: 0;
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  opacity: 1;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: white;
  background: var(--bag);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

ul[class],
ol[class] {
  list-style: none;
  list-style-type: none;
}

a:not([class]) {
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 33px;
  margin-bottom: 105px;
}

.header .logo {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.header .navigation .linked {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.header .navigation .linked:not(:first-child) {
  margin-left: 55px;
}

.header .navigation .linked::after {
  content: "";
  display: block;
  background-color: #000000;
  opacity: 0;
  width: 0;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  border-radius: 20px;
}

.header .navigation .linked:hover::after {
  opacity: 1;
  width: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

.main .photos {
  display: block;
}

.main .photos img {
  position: absolute;
  width: 450px;
  height: 400px;
  left: 203px;
  top: 185.68px;
  z-index: 10;
}

.main .photos .shadow {
  position: absolute;
  width: 450px;
  height: 400px;
  left: 248px;
  top: 224.68px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFDD0), to(rgba(255, 253, 208, 0)));
  background: linear-gradient(180deg, #FFFDD0 0%, rgba(255, 253, 208, 0) 100%);
  border-radius: 30px;
}

.main .info {
  padding: 30px 0;
}

.main .info .welcome {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 12px;
}

.main .info .greet {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
  margin-bottom: 20px;
}

.main .info .info__text {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  width: 436px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 70px;
}

.main .info .supported .fa-instagram {
  font-size: 33px;
  color: #000000;
}

.crossing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 118px;
}

.crossing .line {
  width: 555px;
  height: 8px;
  background: #000000;
  border-radius: 10px;
}

.crossing .ellipse {
  width: 49px;
  height: 49px;
  background-color: #5b5b5b3c;
  border: 1px solid #000000;
  border-radius: 50%;
  text-align: center;
}

.crossing .ellipse .fa-arrow-down {
  font-size: 32px;
  color: #000000;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-animation: scroll 2s linear infinite;
          animation: scroll 2s linear infinite;
}

@-webkit-keyframes scroll {
  100% {
    -webkit-transform: translateY(-13px);
            transform: translateY(-13px);
  }
  0% {
    -webkit-transform: translateY(13px);
            transform: translateY(13px);
  }
}

@keyframes scroll {
  100% {
    -webkit-transform: translateY(-13px);
            transform: translateY(-13px);
  }
  0% {
    -webkit-transform: translateY(13px);
            transform: translateY(13px);
  }
}

.gray {
  height: 700px;
  max-width: 100%;
  background-color: #5B5B5B;
}

.gray h2 {
  padding-top: 23px;
  padding-bottom: 27px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
}

.gray .skill__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.gray .language p {
  margin-bottom: 25px;
}

.gray .language .progress-bar {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  outline: 1px solid rgba(209, 197, 252, 0.5);
  outline-offset: -1px;
  -webkit-box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
          box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.gray .language .progress-bar::after, .gray .language .progress-bar .number {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gray .language .progress-bar .lang {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: normal;
}

.gray .language .progress-bar::after {
  content: '';
  width: 110px;
  height: 110px;
  border-radius: inherit;
  outline: inherit;
  -webkit-box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0 white, -0.5px -0.5px 0 rgba(0, 0, 0, 0.15), 0 12px 10px -10px rgba(0, 0, 0, 0.05);
          box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0 white, -0.5px -0.5px 0 rgba(0, 0, 0, 0.15), 0 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.gray .language .progress-bar .number {
  font-family: 'Poppins';
  font-size: 21px;
  font-weight: normal;
}

.gray .language .progress-bar circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 410;
  stroke-dashoffset: 410;
  -webkit-animation: var(--anim);
          animation: var(--anim);
}

@-webkit-keyframes bar-fill {
  100% {
    stroke-dashoffset: var(--offset);
  }
}

@keyframes bar-fill {
  100% {
    stroke-dashoffset: var(--offset);
  }
}

.gray .language .progress-bar:not(:last-child) {
  margin-bottom: 30px;
}
