@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    margin: 0;
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    opacity: 1;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: white;
    background: var(--bag);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// /* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
    list-style: none;
    list-style-type: none;
}

// /* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
    text-decoration: none;
    text-decoration-skip-ink: auto;
}

// /* Упрощаем работу с изображениями */

img {
    max-width: 100%;
    display: block;
}

// /* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
    margin-top: 1em;
}

// /* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
    font: inherit;
}

// /* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

@media (prefers-reduced-motion: reduce) {
* {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
}

// Container

.container {
    max-width: 1200px;
    margin: 0 auto;
}

// Header

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    margin-bottom: 105px;

    .logo {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #000000;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #000000;

        .linked {
            position: relative;
            text-decoration: none;
            color: #000000;
        }

        .linked:not(:first-child) {
          margin-left: 55px;  
        }

        .linked::after {
            content: "";
            display: block;
            background-color: #000000;
            opacity: 0;
            width: 0;
            height: 2px;
            position: absolute;
            top: 100%;
            left: 50%;
            z-index: 10;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
            border-radius: 20px;
        }

        .linked:hover::after {
            opacity: 1;
            width: 100%;
        }
    }
}

// Section: Info

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    
    .photos {
        display: block;

        img {
            position: absolute;
            width: 450px;
            height: 400px;
            left: 203px;
            top: 185.68px;
            z-index: 10;
        }

        .shadow {
            position: absolute;
            width: 450px;
            height: 400px;
            left: 248px;
            top: 224.68px;
            background: linear-gradient(180deg, #FFFDD0 0%, rgba(255, 253, 208, 0) 100%);
            border-radius: 30px;
        }
    }
    
    .info {
        padding: 30px 0;
        .welcome {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 12px;
        }

        .greet{
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            color: #000000;
            margin-bottom: 20px;
        }

        .info__text{
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 20px;
            width: 436px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 70px;
        }

        .supported {
            .fa-instagram {
                font-size: 33px;
                color: #000000;
            }
        }
    }
}

// Line and slide down

.crossing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 118px;

    .line {
        width: 555px;
        height: 8px;
        background: #000000;
        border-radius: 10px;
    }

    .ellipse {
        width: 49px;
        height: 49px;
        background-color: #5b5b5b3c;
        border: 1px solid #000000;
        border-radius: 50%;
        text-align: center;

        .fa-arrow-down {
            font-size: 32px;
            color: #000000;
            transform: translateY(10%);
            animation: scroll 2s linear infinite;
        }

        @keyframes scroll {
            100% {
                transform: translateY(-13px);
            }
            0% {
                transform: translateY(13px);   
            }    
        }
    }
}

// Section: Skills, skills-circular-bar

.gray {
    height: 700px;
    max-width: 100%;
    background-color: #5B5B5B;

    h2 {
        padding-top: 23px;
        padding-bottom: 27px;
        font-family: 'Poppins'; 
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
    }

    .skill__name {
        display: flex;
        justify-content: space-around;
        font-family: 'Poppins'; 
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }

    // .skill{
    //     width: 150px;
    //     height: 150px;
    //     position: relative;

    //     svg{
    //         
    //         circle{
    //             fill: none;
    //             stroke: url(#GradientColor);
    //             stroke-width: 20px;
    //             stroke-dasharray: 472;
    //             stroke-dashoffset: 0;
    //         }
    //     }

    //     .outer{
    //         width: 150px;
    //         height: 150px;
    //         border-radius: 50%;
    //         box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    //         -6px -6px 10px -1px rgba(255,255,255,0.7);
    //         padding: 20px;
    //     }
    //     .inner{
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         width: 110px;
    //         height: 110px;
    //         border-radius: 50%;
    //         box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    //         inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    //         -0.5px -0.5px 0 rgba(255,255,255,1),
    //         -0.5px -0.5px 0 rgba(0,0,0,0.15),
    //         0 12px 10px -10px rgba(0,0,0,0.05)
    //     }
    // }
    // .circle {
    //     stroke-dasharray: 410;
    //     stroke-dashoffset: 410;
    //     transform: rotate(-90deg);
    //     animation: bar-fill 8s linear forwards;
    // }
    .language{
        p{
            margin-bottom: 25px;
        }

        .progress-bar {
            position: relative;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            outline: 1px solid rgba(209, 197, 252, .5);
            outline-offset: -1px;
            box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
            -6px -6px 10px -1px rgba(255,255,255,0.7);
                
        
            &::after, .number{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            .lang {
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: 'Poppins'; 
                font-size: 18px;
                font-weight: normal;
            }
    
            &::after {
                content: '';
                width: 110px;
                height: 110px;
                border-radius: inherit;
                outline: inherit;
                box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0 rgba(255,255,255,1),
                -0.5px -0.5px 0 rgba(0,0,0,0.15),
                0 12px 10px -10px rgba(0,0,0,0.05)
            }
            
            .number {
                font-family: 'Poppins'; 
                font-size: 21px;
                font-weight: normal;
            }
            
            circle{
                fill: none;
                stroke: url(#GradientColor);
                stroke-width: 20px;
                stroke-dasharray: 410;
                stroke-dashoffset: 410;
                animation: var(--anim);
            }
            
            @keyframes bar-fill {
                100% {
                    stroke-dashoffset: var(--offset);
                }
            }
    
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
    }   
}
        


